<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/inicio.css">
    <link href="<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Recetas</a>
            <a href="login">Inicio de sesión</a>

        </nav>

        <section class="textos-header">
            <h1>Daily food</h1>

        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C114.55,198.84 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </header>
    <main>
        <section class="contenedor recetas">
            <h1 class="titulo">Encuentra recetas para todos los gustos y compartenos tus creaciones</h1>
            <div class="contenedor-recetas">
                <img src="https://aguabela.com.mx/images/blog/recetas-comida-facil-menu-semanal-economico-blog.jpg" alt="imagen-recetas">
                <div class="contenedor-texto">
                    <h2><span>1</span>Las mejores recetas</h2>
                    <p>La comunidad de daily food comparte sus recetas.</p>
                    <h2><span>2</span>Compartenos tus propias creaciones</h2>
                    <p>Todos nos sabemos una receta que nunca nos falla, que siempre es un éxito, compartela con la comunidad.</p>
                </div>
            </div>
        </section>
        <section class="galeria">
            <div class="contenedor">
                <h2 class="titulo">Galeria</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="https://static.guiainfantil.com/media/9611/c/como-decorar-la-comida-de-los-ninos-md.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://w7.pngwing.com/pngs/569/281/png-transparent-computer-mouse-pay-per-click-computer-icons-advertising-computer-mouse-blue-electronics-search-engine-optimization.png" alt="">
                            <p>Ver receta</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="https://saposyprincesas.elmundo.es/wp-content/uploads/2017/01/comida-india-langostinos-tandoori.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://w7.pngwing.com/pngs/569/281/png-transparent-computer-mouse-pay-per-click-computer-icons-advertising-computer-mouse-blue-electronics-search-engine-optimization.png" alt="">
                            <p>Ver receta</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="https://cdn2.cocinadelirante.com/sites/default/files/images/2020/02/recetas-de-comida-saludable-y-economica.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://w7.pngwing.com/pngs/569/281/png-transparent-computer-mouse-pay-per-click-computer-icons-advertising-computer-mouse-blue-electronics-search-engine-optimization.png" alt="">
                            <p>Ver receta</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="https://www.ecestaticos.com/image/clipping/1200/675/3db21f0346f8894c7f3682834c13f54a/por-que-la-comida-sabe-mas-dulce-cuando-tiene-forma-redonda.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://w7.pngwing.com/pngs/569/281/png-transparent-computer-mouse-pay-per-click-computer-icons-advertising-computer-mouse-blue-electronics-search-engine-optimization.png" alt="">
                            <p>Ver receta</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="https://foodandtravel.mx/wp-content/uploads/2017/08/Comida-callejera.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://w7.pngwing.com/pngs/569/281/png-transparent-computer-mouse-pay-per-click-computer-icons-advertising-computer-mouse-blue-electronics-search-engine-optimization.png" alt="">
                            <p>Ver receta</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="https://tipsparatuviaje.com/wp-content/uploads/2020/02/comida-canada.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://w7.pngwing.com/pngs/569/281/png-transparent-computer-mouse-pay-per-click-computer-icons-advertising-computer-mouse-blue-electronics-search-engine-optimization.png" alt="">
                            <p>Ver receta</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="https://s1.eestatic.com/2015/06/10/cocinillas/cocinillas_40006005_116187702_1024x576.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://w7.pngwing.com/pngs/569/281/png-transparent-computer-mouse-pay-per-click-computer-icons-advertising-computer-mouse-blue-electronics-search-engine-optimization.png" alt="">
                            <p>Ver receta</p>
                        </div>
                    </div>

                    <div class="imagen-port">
                        <img src="https://www.superprof.mx/blog/wp-content/uploads/2020/02/recetas-faciles-comida-mexicana.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://w7.pngwing.com/pngs/569/281/png-transparent-computer-mouse-pay-per-click-computer-icons-advertising-computer-mouse-blue-electronics-search-engine-optimization.png" alt="">
                            <p>Ver receta</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>