<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="resources/css/perfil.css">
        <title>Configuracion de Cuenta</title>
    </head>
    <body>
        <div class="contenedor">
            AQUI SE CONFIGURARA LA CUENTA 
        </div>
        <div class="vertical-menu">
            <a href="Perfil">Mi Cuenta</a>
            <a href="Configuracion" class="active">Configuracion de Cuenta</a>
            <a href="Salir">Cerrar Sesion</a>
        </div> 
    </body>
</html>