<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="resources/css/perfil.css">
        <link rel="stylesheet" href="resources/css/starsperfil.css">
        <title>Perfil</title>
    </head>
    <body>
        <div class="vertical-menu">
            <a href="Perfil" class="active">Mi Cuenta</a>
            <a href="agregaRec">Añadir Receta</a>
            <a href="Configuracion">Configuracion de Cuenta</a>
            <a href="Blog/1"> Regresar a Inicio</a>
            <a href="Salir">Cerrar Sesion</a>
        </div> 
        <div class="contenedor">
            <h1>Perfil de Usuario</h1>
            <form action="AgregaDes" method="POST">
            <% if (logueado) { %>                
                Usuario conectado: <strong><%= name %></strong>                   
            <% } %>
            <h3>Acerca de tu perfil</h3>
            <textarea placeholder="Escribe un poco acerca de ti aquí..." name="descripcion" class="descrip" maxlength="100"><%=descripcion%></textarea>
            <button class="guardar_descripcion">Guardar</button>
            </form>
            <h3>Estrellas promedio</h3>
            <div class="wrapper1">
                <form >
                  <p class="clasificacion">
                    <input id="radio1" class="stars" type="radio" name="estrellas1" value="5"><!--
                    --><label for="radio1">★</label>
                        <input id="radio2" class="stars" type="radio"  name="estrellas1" value="4"><!--
                    --><label for="radio2">★</label><!--
                    --><input id="radio3" class="stars" type="radio"   name="estrellas1" value="3"><!--
                    --><label for="radio3">★</label><!--
                    --><input id="radio4" class="stars" type="radio"  name="estrellas1" value="2"><!--
                    --><label for="radio4">★</label><!--
                    --><input id="radio5" class="stars" type="radio"  name="estrellas1" value="1"><!--
                    --><label for="radio5">★</label>
                  </p>
                </form>
                <style>
                      .wrapper{
                      color: green;
                      /*width: var(--width);*/
                      position: absolute;
                      white-space: nowrap;
                      overflow: hidden;
                      width: <%=(estrellas*20)%>% !important;
                      <%console.log((estrellas*20))%>
                      }
                </style>
                <div class="wrapper" id="wrapper">
                    <form >
                      <p class="clasificacion">
                        <input id="radio1" class="stars" type="radio" name="estrellas1" value="5"><!--
                        --><label for="radio1">★</label>
                            <input id="radio2" class="stars" type="radio"  name="estrellas1" value="4"><!--
                        --><label for="radio2">★</label><!--
                        --><input id="radio3" class="stars" type="radio"   name="estrellas1" value="3"><!--
                        --><label for="radio3">★</label><!--
                        --><input id="radio4" class="stars" type="radio"  name="estrellas1" value="2"><!--
                        --><label for="radio4">★</label><!--
                        --><input id="radio5" class="stars" type="radio"  name="estrellas1" value="1"><!--
                        --><label for="radio5">★</label>
                      </p>
                    </form>
              </div>
              </div>
            <h3>Numero de puntuaciones</h3>
            <textarea class="num_punt" name="puntuaciones"readonly><%=npuntua%></textarea>
          </div>
    </body>
</html>