.wrapper1{
    top: 0;
    left: 1cm;
    border: none;
    width:max-content
    }
    .wrapper{
        top:0;
        left:0;
    }
    input[type="radio"] {
     display: none;
    }
    label{
    font-size:  1cm;
    border-color: black;
    }

    .wrapper1{
       position: relative;
        left: 0;
        color:gray;
        display:inline-block;
    }